openapi: 3.1.0
info:
  title: Convai Evaluation API
  version: "1.0"
  description: |
    Score and evaluate Convai character sessions against custom prompts and
    rubric variables. Used to measure NPC quality, role-fidelity, safety, and
    objective completion. Professional tier and above.
servers:
- url: https://api.convai.com
security:
- ConvaiApiKey: []
paths:
  /evaluation/evaluate-session:
    post:
      summary: Evaluate Session
      operationId: evaluateSession
      tags: [Evaluation]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [session_id, character_id, prompt]
              properties:
                session_id: { type: string }
                character_id: { type: string }
                prompt:
                  type: string
                  description: Evaluation rubric / scoring instructions
                variables:
                  type: object
                  additionalProperties: true
      responses:
        '200':
          description: Evaluation result
          content:
            application/json:
              schema:
                type: object
                properties:
                  score: { type: number }
                  reasoning: { type: string }
                  variables:
                    type: object
                    additionalProperties: true
components:
  securitySchemes:
    ConvaiApiKey:
      type: apiKey
      in: header
      name: CONVAI-API-KEY
